<%- include('../partials/header.ejs'); %>
  <form action="/books/add" method="post" novalidate>
    <div class="container">
        <div class="row">
          <div class="col-md-offset-3 col-md-6">
            <h1>Create A Survey</h1>
              
              <div class="form-group row mb-4 mt-4 ">
          <input class="  inputBackground" type="text" placeholder="Survey Name" id="title" name="title" required="">
      </div>
      <p>Type of question</p>
      <select class="form-select" id="typeQuestion" aria-label="Default select example">
          <option >True/ False</option>
          <option >MCQ</option>
        </select>
         <!-- Start and End Survey Date !-->
              <div class="form-group row justify-content-md-center mb-4"><a>Start Date</a>
                  <input class="col-md-4   inputBackground" type="date" id="startDate" name="startDate" required="">
              </div>
  
              <div class="form-group row justify-content-md-center mb-4"><a>End Date</a>
                  <input class="col-md-4   inputBackground" type="date" id="endDate" name="endDate" required="">
              </div>
  
           <div id="mcq">
              <div class="accordion" id="accordionExample">
                  <% for( let index = 0; index < 4; index++ ) { %>
               
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%= index %>" aria-expanded="true" aria-controls="collapse<%= index %>">
                          question Item #<%= index %>
                        </button>
                      </h2>
                      <div id="collapse<%= index %>" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                          <div class="form-group row justify-content-around mb-md-5">
                              <input class=" col-md-5  inputBackground" type="text" placeholder="Question 4" id="question<%= index %>" name="question<%= index %>" required="">
                                  <div class="form-check">
                                      <input class="form-check-input" type="radio" name="answer<%= index %>" id="option<%= index %>A" value="optionA" checked>
                                      <label class="form-check-label" for="option<%= index %>A">
                                       Default radio
                                      </label>
                                  </div>
                                              <div class="form-check">
                                      <input class="form-check-input" type="radio" name="answer<%= index %>" id="option<%= index %>B" value="optionB" checked>
                                      <label class="form-check-label" for="option<%= index %>B">
                                       Default radio
                                      </label>
                                  </div>
                                              <div class="form-check">
                                      <input class="form-check-input" type="radio" name="answer<%= index %>" id="option<%= index %>C" value="optionC" checked>
                                      <label class="form-check-label" for="option<%= index %>C">
                                       Default radio
                                      </label>
                                  </div>
                                              <div class="form-check">
                                      <input class="form-check-input" type="radio" name="answer<%= index %>" id="option<%= index %>D" value="optionD" checked>
                                      <label class="form-check-label" for="option<%= index %>D">
                                       Default radio
                                      </label>
                                  </div>
                          </div>
                                
                                </div>
                      </div>
                    </div>
               <% } %>
              </div>
                   
       
          </div>
           <div id="TF">
               
              <div class="accordion" id="accordionExample">
               <% for( let index = 0; index < 4; index++ ) { %>
                  <div class="accordion-item">
                      <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%= index %>" aria-expanded="true" aria-controls="collapse<%= index %>">
                          question #<%= index %> 
                        </button>
                      </h2>
                      <div id="collapse<%= index %>" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="form-group row justify-content-around mb-md-5">
                                <input class=" col-md-5  inputBackground" type="text" placeholder="Question <%= index %>" id="question<%= index %>" name="question<%= index %>" required="">                                                              
                              </div>
                              <input type="radio" id="TRUE<%= index %>" name="BOOL<%= index %>" value="TRUE">
                                <label for="TRUE">TRUE</label><br>
                                <input type="radio" id="FALSE<%= index %>" name="BOOL<%= index %>" value="FALSE">
                                <label for="FALSE">FALSE</label><br>
                              
                                
                          </div>
                      </div>
                    </div>
               <% } %>
              </div>
           </div>
  
  
             <button type="submit" class="btn btn btn-success m-3">Submit</button>
             <a class="btn btn btn-danger m-3" href="/">Cancel</a>
          </div>
        </div>
      </div>
  </form>
    <%- include('../partials/footer.ejs'); %>
    <script >
        let currentType = "TF"
        function handleShow(){
            if(currentType == 'TF') {
               currentType = "mcq"
               $('#TF').show()
               $('#mcq').hide()

            }else {
                currentType = "TF"
                $('#TF').hide()
                $('#mcq').show()
          
            }
        }
       $('#typeQuestion').on('change', function(e) {
        
        handleShow()
        
       })
       handleShow()
    </script>